
@{
    ViewBag.Title = "Add";
}

<h1>Add an Employee</h1>
<form action="/Employee/Add" method="POST">
    <div class="form-group">
        <label for="first_name">First Name: </label>
        <input type="text" id="first_name" name="FirstName" />
    </div>
    <div class="form-group">
        <label for="last_name">Last Name: </label>
        <input type="text" id="last_name" name="LastName" />
    </div>
        <div class="form-group">
        <label for="Age">Age: </label>
        <input type="text" id="emp_age" name="Age" />
    </div>
    <select class="form-control">
        @{ foreach (var exhibit in ViewBag.Exhibits)
            {
                <option value="@exhibit">@exhibit.Exhibit_Name</option>
            }
        }
    </select>

    @*USE CHECKBOXES TO APPLY MULTIPLE EXHIBITS TO A SINGLE EMPLOYEE OBJ? *@
    @*@{ foreach (var exhibit in ViewBag.Exhibits)
        {
            <input type="checkbox" title="@exhibit.Exhibit_Name" value="@exhibit.Exhibit_Name"> @exhibit.Exhibit_Name
        }
    }*@

    <div>
        <label for="button"></label>
        <button type="submit" class="btn btn-default" id="button">Add Employee</button>
    </div>
</form>
