
@{
    ViewBag.Title = "Index";
}
<h1>Employees</h1>
<ul>

    @{ foreach (var employee in ViewBag.Employee)
        {
            <li>@employee.FirstName @employee.LastName @employee.Age Number of Exhibits = @employee.Exhibits.Count </li>
            @*for (var i = 0; i < @employee.Exhibits.Count; i++)
            {
                <li>i'm here because there's an exhibit!</li>
                <li>@employee.Exhibits.Exhibit_Name[i]</li> 
            }*@
        }
    }
</ul>
@*<a asp-area="" asp-controller="Employee" asp-action="Add" class="btn btn-primary">Add new Employee</a>*@
<a href="Add" class="btn btn-primary">Add new Employee</a>

