
@{
    ViewBag.Title = "Index";
}
<h1>Employees</h1>
<ul>

    @{ foreach (var employee in ViewBag.Employee)
        {
            <li>@employee.FirstName @employee.LastName @employee.Age Number of Exhibits = @employee.Exhibits.Count </li>
            foreach (var exhibit in @employee.Exhibits)
            {
                <ul>
                    <li>@exhibit.Exhibit_Name</li>
                </ul>
            }
        }
    }
</ul>
@*<a asp-controller="Employee" asp-action="Add" class="btn btn-primary">Add new Employee</a>*@
<a href="Add" class="btn btn-primary">Add new Employee</a>

